body {
    background:url(Background5.jpg) no-repeat  center center fixed;
    background-size: cover;
    padding:0px;
    margin:0px;
}

header {
    padding:0px;
    margin: 0px;
    background-image: url(Header2.png);
    background-size: cover;
    height:278px;
    width:auto;
}

.menu {


    width:600px; 
    height:80px;
    position:absolute;
    right:0;
    top: 0;
}

.subMenu {
    margin-left: 20px;
    float: left;
    width: 100px;
    height:45px;
}

    .subMenu:hover {
        background-color:#ccccb3;
        text-decoration-color: white;
    }

.menuIcon {
    height:10px;
    width:10px;
}

.social-networks {
    padding:10px;
    margin: 20px;
}

.social-network-icon {
    height:50px;
    width:50px;
    padding:10px;
}
