body {
    background-size: cover;
    padding:0px;
    margin:0px;
}

header {
    padding:0px;
    margin-top: 0px;
    background-image: url(Header2.png);
    background-size: cover;
    height:278px;
    width:auto;
}

.menu {
    width:600px; 
    height:80px;
    position:absolute;
    right:0;
    top: 0;
}


.social-networks {
    padding:15px;
    margin: 20px;
}

.social-network-icon {
    height:50px;
    width:50px;
    padding:14px;
}

.text {
    margin:5px;
    text-align:left;
}

.body-wrapper {
    width:1000px;
    position:absolute;
    left:50%;
    top:300px;
    margin-left:-250px;
}
#welcomeText {
    position:relative;
    margin-left:-250px;
}

.gallery {
    position:relative;
    margin-left:0 auto;
    width:600px;
    height:400px;
    border-style:outset;
    border-width: 10px;
    margin-top:20px;
    display:block;
}

#homeGalleryImage {
    display:block;
    margin:auto;
    height:300px;
    width: 400px;
}

.arrowContainer {
    
    height:50px;
    width:50px;
}
    .arrowContainer:hover {
        background-color:orange;
        opacity:0.7;
    }

#forwardArrowCont {
    top:170px;
    position:relative;
    margin-left:530px;
}

#backwardArrowCont {
    position:relative;
    margin-left:20px;
    margin-top:-170px;
    transform:rotate(180deg);
}

.galleryArrow {
    position:relative;
    top:5px;
    height:40px;
    width:40px;
    display:block;
    margin:auto;
}



footer {
    clear: left;
    margin-left: 20px;
    position: absolute;
    margin-top: 500px;
}