body {
}

.instArticle {
    max-width:500px;
}

.decoratedLink {
    text-decoration:initial;
    text-decoration:underline;
    color:blue
}
.instImage {
    margin: 5px;
    width:100px;
    height:100px;
    border-style:inset;
    border-width: 5px;
}

.instDescription {
    text-align: left;
}
#secondarySchool {
    margin-left:400px;
    max-width:500px;
}

#USB {
    margin-left: -200px;
}

#UNIMET {
    margin-left:400px;
}

#LCFE {
    margin-left:-200px;
}

#ITSligo {
    margin-left:400px;
}

