.body-wrapper {
    width:500px;
}

footer {
    position:static;
    margin-left:-350px;
    min-height:100px;
}

.employer {
    margin-top:30px;
    width:800px;
    height:auto;
}

.empDetails {
    margin-left:-300px;
    max-height:500px;
}
.empImg {
    width:1000px;
    height:490px;
}

.scrollMenu {
    overflow:auto;
    width:200px;
    height:500px;
    margin-top:15px;
    position: relative;
    top:-510px;
    left:1000px;
    margin-right:0;

}

.scrollMenu div {
    margin-left: 30px;
    margin-bottom:30px;
}
.scrollMenu div img{
    width:130px;
    height:90px;
    border:double;
}


    .scrollMenu div img:hover {
        opacity:0.5;
    }
.empText {
    text-align:left;
    color: darkorange;
    margin:5px;
    font-size:22px;
}
#OptelLogo {
    margin-left:-80px;
}
#FHLogo {
    margin-left:-300px;
}

#ToyotaLogo {
    margin-left:-50px;
}

#AdeminsaLogo {
    width:300px;
    height:300px;
    margin-left:80px;
    margin-bottom:35px;
}

#MLDNLogo {
    width: 250px;
    height: 250px;
    margin-left:110px;
    margin-bottom:35px;
}

#ToyotaImageDisplay {
    width:750px;
    height:490px;
}
#Ademinsa {
    margin-top:50px;
}