body {
}

.body-wrapper {
    width:1500px;
    position:absolute;
    left:50%;
    top:300px;
}

footer {
    position:static;
    left:0px;
    min-height:150px;
}

.employer {
    width:1000px;
    height:auto;
}

.empDetails {
    margin-left:-300px;
    max-height:500px;
}
.empImg {
    width:1000px;
    height:490px;
}

.scrollMenu {
    overflow:auto;
    width:200px;
    height:500px;
    margin-top:15px;
    position: relative;
    top:-510px;
    left:1000px;
    margin-right:0;

}

scrollUnit {
}

.scrollMenu div {
    margin-left: 30px;
    margin-bottom:30px;
}
.scrollMenu div img{
    width:130px;
    height:90px;
    border:double;
}


    .scrollMenu div img:hover {
        opacity:0.5;
    }

#OptelLogo {
    margin-left:-80px;
}
#FHLogo {
    margin-left:-300px;
}

#ToyotaLogo {
    margin-left:-50px;
}

#AdeminsaLogo {
    width:300px;
    height:300px;
    margin-left:80px;
}

#ToyotaImageDisplay {
    width:750px;
    height:490px;
    margin-left:170px;
}