h1 {
    color:orange;
}

.downloadLogo {
    max-height: 75px;
    max-width: 120px;
    margin-right:10px
}

    .downloadLogo:hover {
        opacity:0.7
     }

.row {
    margin-top:20px
}

.instructionText {
    color:orange
}